body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#menu {
    background-image: url("menu-background.jpg");
    background-size: cover;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#mainlogo {
    width: 40rem;
}

#new-game-buttom,
#continue-game-buttom {
    width: 20rem;
    height: 3rem;
    margin: 1rem;
    font-size: 1.5rem;
    background-color: rgb(160, 160, 160);
    color: white;
}

#game-page {
    background-color: rgb(135, 206, 235);
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(40, 1fr);
    grid-template-rows: repeat(30, 1fr);
}



div {
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 40;
}

.cell {
    background-size: cover;
    width: 100%;
}

.oak-log { background-image: url('/oak-log.webp') }
.oak-leaves { background-image: url('/oak-leaves.webp') }

.row11 { background-image: url('grass.webp') }
#row11 { grid-row: 11 / span 1 }
.dirt { background-image: url('dirt.webp') }
#row12 { grid-row: 12 / span 1 }
#row13 { grid-row: 13 / span 1 }
#row14 { grid-row: 14 / span 1 }
#row15 { grid-row: 15 / span 1 }
.stone { background-image: url('stone.webp') }
#row16 { grid-row: 16 / span 1 }
#row17 { grid-row: 17 / span 1 }
#row18 { grid-row: 18 / span 1 }
#row19 { grid-row: 19 / span 1 }
#row20 { grid-row: 20 / span 1 }    
#row21 { grid-row: 21 / span 1 }
#row22 { grid-row: 22 / span 1 }
#row23 { grid-row: 23 / span 1 }
#row24 { grid-row: 24 / span 1 }
#row25 { grid-row: 25 / span 1 }
#row26 { grid-row: 26 / span 1 }
#row27 { grid-row: 27 / span 1 }
#row28 { grid-row: 28 / span 1 }
.blocks { background-image: url('bedrock.webp') }
#row29 { grid-row: 29 / span 1 }
#row30 { grid-row: 30 / span 1 }
